<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Teste Login</h1>
    <form method="post">
        <input type="text" name="name" placeholder="name">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
    <form method="post">
        <input type="text" name="name_register">
        <input type="email" name="email_register">
        <input type="password" name="password_register">
    </form>
    <p>{{ login }}</p>
    <p>{{ error }}</p>
    
</body>
</html>